<h1>{{project.name}}</h1>
<p class="project-version">{{project.version}}</p>
<p class="project-description">{{project.description}}</p>
{{#files}}
	<p class="file">{{file}}</p>
	{{#blocks}}
		<h4>{{name}}</h4>
		{{#description}}
			<p class="description">{{description}}</p>
		{{/description}}
		{{#state}}
			<p class="state">{{name}}<br>{{escaped}}<br>{{description}}</p>
		{{/state}}
		{{#markup}}
			{{{example}}}
			<pre>
			{{{markup.escaped}}}
			</pre>
		{{/markup}}
	{{/blocks}}
{{/files}}
