/* line 1, ../source/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../source/styles.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../source/styles.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, ../source/styles.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, ../source/styles.scss */
[hidden] {
  display: none;
}

/* line 8, ../source/styles.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../source/styles.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 10, ../source/styles.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 12, ../source/styles.scss */
a {
  color: #00e;
}

/* line 13, ../source/styles.scss */
a:visited {
  color: #551a8b;
}

/* line 14, ../source/styles.scss */
a:hover {
  color: #06e;
}

/* line 15, ../source/styles.scss */
a:focus {
  outline: thin dotted;
}

/* line 16, ../source/styles.scss */
a:hover, a:active {
  outline: 0;
}

/* line 18, ../source/styles.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 19, ../source/styles.scss */
b, strong {
  font-weight: bold;
}

/* line 20, ../source/styles.scss */
blockquote {
  margin: 1em 40px;
}

/* line 21, ../source/styles.scss */
dfn {
  font-style: italic;
}

/* line 22, ../source/styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 23, ../source/styles.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 24, ../source/styles.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 25, ../source/styles.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 26, ../source/styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 27, ../source/styles.scss */
q {
  quotes: none;
}

/* line 28, ../source/styles.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 29, ../source/styles.scss */
small {
  font-size: 85%;
}

/* line 30, ../source/styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 31, ../source/styles.scss */
sup {
  top: -0.5em;
}

/* line 32, ../source/styles.scss */
sub {
  bottom: -0.25em;
}

/* line 33, ../source/styles.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 34, ../source/styles.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 35, ../source/styles.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 36, ../source/styles.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 37, ../source/styles.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 38, ../source/styles.scss */
figure {
  margin: 0;
}

/* line 40, ../source/styles.scss */
form {
  margin: 0;
}

/* line 41, ../source/styles.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 42, ../source/styles.scss */
label {
  cursor: pointer;
}

/* line 43, ../source/styles.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 44, ../source/styles.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 45, ../source/styles.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 46, ../source/styles.scss */
table button, table input {
  *overflow: auto;
}

/* line 47, ../source/styles.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 48, ../source/styles.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 49, ../source/styles.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 50, ../source/styles.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 51, ../source/styles.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 52, ../source/styles.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 54, ../source/styles.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 56, ../source/styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../source/styles.scss */
td {
  vertical-align: top;
}

/* line 60, ../source/styles.scss */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

/* line 68, ../source/styles.scss */
a, a:hover, a:active, a:visited {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  padding-bottom: 3px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 80, ../source/styles.scss */
a:hover {
  border-bottom: 3px solid #ccc;
  color: #000;
}

/* line 85, ../source/styles.scss */
header {
  width: 100%;
  background: #efefef;
  padding: 60px 8% 40px;
  border-bottom: 1px solid #ccc;
}

/* line 92, ../source/styles.scss */
header h1 {
  line-height: 100%;
  font-size: 48px;
  margin: 0 0 5px 0;
  padding: 0;
  float: left;
}

/* line 100, ../source/styles.scss */
header .version {
  float: left;
  display: inline-block;
  color: #999;
  font-size: 12px;
  margin: 0;
}

/* line 108, ../source/styles.scss */
header .description {
  font-size: 16px;
  color: #999;
  clear: left;
}

/* line 114, ../source/styles.scss */
#wrapper {
  padding: 40px 8%;
}

/* line 118, ../source/styles.scss */
#wrapper nav {
  border-bottom: 1px solid #efefef;
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
}

/* line 125, ../source/styles.scss */
#wrapper nav ul {
  margin: 0;
  padding: 0;
}

/* line 130, ../source/styles.scss */
#wrapper nav ul li {
  list-style: disc;
  margin: 0 0 5px 25px;
  padding: 0;
}

/* line 136, ../source/styles.scss */
#wrapper .file {
  border-bottom: 1px solid #efefef;
  padding: 0 0 30px 0;
  margin: 0;
}

/* line 142, ../source/styles.scss */
#wrapper .file h3 {
  margin: 0 0 30px 0;
  padding-top: 30px;
  font-size: 24px;
}

/* line 148, ../source/styles.scss */
#wrapper .block {
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
}

/* line 153, ../source/styles.scss */
#wrapper .info {
  padding: 30px 40px 20px;
  background: #efefef;
  border-bottom: 1px solid #ccc;
}

/* line 159, ../source/styles.scss */
#wrapper .info h4 {
  font-size: 18px;
  margin: 0;
}

/* line 164, ../source/styles.scss */
#wrapper .info .description {
  font-size: 14px;
  font-style: italic;
}

/* line 169, ../source/styles.scss */
#wrapper .info .state {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 175, ../source/styles.scss */
#wrapper .info .state span {
  font-weight: bold;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 180, ../source/styles.scss */
#wrapper .example {
  padding: 20px;
  min-height: 60px;
  display: block;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

/* line 193, ../source/styles.scss */
#wrapper .state .name {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #efefef;
  font-size: 10px;
  padding: 10px;
}

/* line 202, ../source/styles.scss */
#wrapper .markup {
  margin: 0;
  padding: 24px 20px 20px;
  font-size: 13px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background: #efefef;
}

/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
/* line 218, ../source/styles.scss */
.pln {
  color: #333333;
}

@media screen {
  /* string content */
  /* line 224, ../source/styles.scss */
  .str {
    color: #dd1144;
  }

  /* a keyword */
  /* line 229, ../source/styles.scss */
  .kwd {
    color: #333333;
  }

  /* a comment */
  /* line 234, ../source/styles.scss */
  .com {
    color: #999988;
  }

  /* a type name */
  /* line 239, ../source/styles.scss */
  .typ {
    color: #445588;
  }

  /* a literal value */
  /* line 244, ../source/styles.scss */
  .lit {
    color: #445588;
  }

  /* punctuation */
  /* line 249, ../source/styles.scss */
  .pun {
    color: #333333;
  }

  /* lisp open bracket */
  /* line 254, ../source/styles.scss */
  .opn {
    color: #333333;
  }

  /* lisp close bracket */
  /* line 259, ../source/styles.scss */
  .clo {
    color: #333333;
  }

  /* a markup tag name */
  /* line 264, ../source/styles.scss */
  .tag {
    color: navy;
  }

  /* a markup attribute name */
  /* line 269, ../source/styles.scss */
  .atn {
    color: teal;
  }

  /* a markup attribute value */
  /* line 274, ../source/styles.scss */
  .atv {
    color: #dd1144;
  }

  /* a declaration */
  /* line 279, ../source/styles.scss */
  .dec {
    color: #333333;
  }

  /* a variable name */
  /* line 284, ../source/styles.scss */
  .var {
    color: teal;
  }

  /* a function name */
  /* line 289, ../source/styles.scss */
  .fun {
    color: #990000;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  /* line 295, ../source/styles.scss */
  .str {
    color: #006600;
  }

  /* line 299, ../source/styles.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 304, ../source/styles.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 309, ../source/styles.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 314, ../source/styles.scss */
  .lit {
    color: #004444;
  }

  /* line 318, ../source/styles.scss */
  .pun, .opn, .clo {
    color: #444400;
  }

  /* line 322, ../source/styles.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 327, ../source/styles.scss */
  .atn {
    color: #440044;
  }

  /* line 331, ../source/styles.scss */
  .atv {
    color: #006600;
  }
}
/* Style */
/* line 336, ../source/styles.scss */
pre.prettyprint {
  background: white;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 345, ../source/styles.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
/* line 360, ../source/styles.scss */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
/* line 369, ../source/styles.scss */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
